<div class="title tc pr top">
    <span class="back-btn"></span>工大淘--<%= title %>
    <div class="buycar "><a href="buycar"><span>购物车</span></a></div>
    <div class="nav-btn">
        <ul class="pa">
            <li><a href="index">首页</a></li>
            <li><a href="login">用户登陆</a></li>
            <li><a href="reg">用户注册</a></li>
            <li><a href="list">商品列表</a></li>
            <li><a href="loginShop">我要开店</a></li>
            <li><a href="records">购物记录</a></li>
        </ul>
    </div>
</div>